body {
    padding: 0;
    margin: 0;
  }
  
  #mapid1, #mapid2, #mapid3,
  body,
  html {
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: #020202;
  }

  #mapid1 {
    position: absolute;
    width: 31%;
    top: 6%;
    left: 1%;
  }

  #mapid2 {
    position: absolute;
    width: 31%;
    left: 33%;
    top: 6%;
  }

  #mapid3 {
    position: absolute;
    width: 33%;
    left: 65%;
    top: 6%;
  }

  
  
  .legend {
    line-height: 20px;
    color: rgb(8, 8, 8);
    padding: 10px;
    background-color: rgb(248, 241, 241);
    border-radius: 10px;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  body {
    padding: 0;
    margin: 0;
  }
  

  body,
  html
 {
    height: 100%;
  }

  #map 
  {

    height: 100%;

  }

  /* Navbar styles */

.large_screen {

  visibility: visible;

}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

nav li {
  float: right;
}

nav li a, .dropbtn {
  display: inline-block;
  color: rgb(221, 22, 22);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a, .interact {
  display: inline-block;
  color: rgb(17, 15, 15);
  text-align: center;
  background-color: #c50d0d;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #c50d0d;
  color:rgb(8, 7, 7);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c50a0a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(204, 8, 8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #4aaaa5;}

.dropdown:hover .dropdown-content {
  display: block;
}

.alti-logo {
  background-color: #c91212;
  color:rgb(11, 11, 11);
  font-size: 25px;
}

.mini  {
  
  visibility: hidden;
}

.full {
  visibility: visible;
}

