body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #ededed;
}

/* Navbar styles */

.large_screen {

  visibility: visible;

}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

nav li {
  float: right;
}

nav li a, .dropbtn {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #4aaaa5;
  color:white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #4aaaa5;}

.dropdown:hover .dropdown-content {
  display: block;
}

.alti-logo {
  background-color: #4aaaa5;
  color:white;
  font-size: 24px;
}

.mini  {
  
  visibility: hidden;
}

.full {
  visibility: visible;
}

/* End of navbar */


/* Gallery styles */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #4aaaa5;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 49%;
  margin: 6px 0;
}

/* End of Gallery Styles */



.summary {
  position: absolute;
  height: 700px;
  width: 700px;
  background: #ffffff;
  top:150px;
  left:100px

}

P {
  padding:10px;
  left:100px;
}

.thumbs {

  position: absolute;  
  height: 500px;
  width:500px;
  background: #ffffff;
  top:150px;
  left:900px;
  right:10px;
}



.alti {
  
  color: #4aaaa5;


}

h1, h2 {
    position: relative;
    left: 20px;
    padding: 20px;
    width:85%;
    font-weight: bold;
    font-size: 26px;
    color: #4aaaa5;
    border-bottom: rgb(230, 230, 230);
    border-bottom-style: ridge;
    
  }

h2 {

    font-size: 24px;
  }
  

  .LargeThumb {
  position:relative;
  width : 50%;
  float:left

  }



  .wide-view {
    visibility:visible;
  }
  
  .small-view {
    visibility: hidden;
  }


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    border-top: rgb(255, 217, 0);
    border-style: ridge;
    border-width: 5px;
    
  }

@media (max-width: 1300px) {

  .responsive {
    width: 90%;
    margin: 6px 0;
  }
  
  .thumbs{

    height:1000px;
    width:300px;

  }

}


@media (max-width: 800px) {


/* Nav bar */
.mini  {
  
  visibility: visible;
  position: absolute;
  right:0;
  border-style: solid;
  border-color: black;
}

.dropbtn {

color:white;
  background-color: #183635;

}

.dropdown-content {

  position: fixed;
  left: 0;

  width: 100%;
  padding: 20px;
}

.large_nav li {

  visibility: hidden;
}

.large_nav {
  background-color:  #4aaaa5;
}

.alti-logo {

  visibility:visible;

}

/* End of Nav bar */

.summary{
  position:relative;
  width: 100%;
  height: 550px;
  top:0;
  left:0;
}

.thumbs{
  position:relative;
  width: 100%;
  height: 550px;
  top:0px;
  left:0;
}

.responsive{
  width:25%;
}



}